.home {
  text-align: center;

  .home-we p {
    margin: 20px 100px;
  }

  .home-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.services {
  display: flex;
  justify-content: center;
}
