.image-container {
  width: 250px;
  height: 250px;
  background-image: url('../../assets/auto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.image {
  width: 90%;
}